<a href="https://colab.research.google.com/github/gtzambranop/UN_2020_2/blob/DCD%2Fweek_4/DCD/module_2/basic_python_class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **"Pyhton Básico"**

* **Profesor:** Francisco Javier Ospina Salazar
* **Monitoras:**
  - Diana Carolina Sanchez Perez
  - Guiselle Tatiana Zambrano Penagos
* **Fechas:** 
  - Inicio: 2020-09-12
  - Final: 2020-09-29
* [Presentacióón del curso](http://ospinafrancisco.com/)


## Contenido de la clase

  * Variables.
    * Definición
    * Tipos de vaiable y operaciones
      * Primitivos
      * No primitivos
  * Estructuras de control
    * Bifurcación
        * En dos flujos
        * En múltiples flujos
    * Bucles (loops)
        * Bucle con número de ejecuciones definidas
        * Bucle con número de ejecuciones indefinidas

# Definición de variable

Una variable en python es un espacio de memoria se se aparta para almacenar algo la variables de identifica por un nombre y puede ser leida o modificada a través de este nombre

In [91]:
# Ejemplos de variables 
a = 5

b = 7.3

c = 'Hola mundo'

# Tipos de datos primitivos (Simples)

En Python al igual que en todos los lenguajes existen variables primitivas (simples), que son el núcleo de trabajo y sobre la cuál se construyen estructuras más complejas.
  * Enteros
  * Flotantes
  * Cadenas de carácteres
  * Lógicos o Booleanos

## Entero

In [92]:
a = 5

# la función
print(type(a))

isinstance(a, int)

<class 'int'>

True

## Número de coma flotante (float)

In [93]:
pi = 3.1416

print(type(pi))

# isinstance -> retorna: True o False
# pi es un número de coma flotante? = True
isinstance(pi, float)

<class 'float'>

True

## Cadenas de texto o strings (str)

In [94]:
text = 'Hola mundo'

print(type(text))

isinstance(text, str)

<class 'str'>

True

## Lógicos (bool)

In [95]:
logical = True

print(type(logical))

isinstance(logical, bool)

<class 'bool'>

True

# Casting entre tipos de variables

Se define _casting_ como la conversión de un tipo de variable a otro.

In [96]:
a = 5
b = float(a)
c = str(a)

print(a)  
print(b)
print(c)  # Esto es un string

print(type(a))
print(type(b))
print(type(c))

# print(a + c)  # error
# print( 'Estamos en el mes: ' + 9) # error

5
5.0
5
<class 'int'>
<class 'float'>
<class 'str'>

# Operaciones con datos numéricos

- \+ Suma
-  \- Resta
-  \* Multiplicación
-  \/ División
- \*\* Potenciación
-  \% Móódulo (o residuo)

**Ejemplo de módulo:**

$ \frac{7}{2} = 3.5 $

$ 3 * 2 = 6 $

$ 7 - 6 = 1 $

$ 7 \% 2 = 1 $

In [159]:
print(5 + 3)

print(5 ** 3) # 5^3

8
125

**Nota**

Siempre se debe tener claro el tipo de variable con que se trabaja o pueden ocurrir resultados indeseados

In [98]:
a = 12
c = str(a)

print(a * 10)
print(c * 10)

120
12121212121212121212

In [99]:
a = 5
b = 3.72

a * b

18.6

In [100]:
a = 7
b = 3

print(a / b)

2.3333333333333335

In [101]:
print(a // b)

2

In [102]:
# range(11) objeto iterable en el rango [0, 11)
for i in range(11):
  print('{} / 10 = {}       {} % 10 = {}'.format(i, i / 10, i, i % 10))

0 / 10 = 0.0       0 % 10 = 0
1 / 10 = 0.1       1 % 10 = 1
2 / 10 = 0.2       2 % 10 = 2
3 / 10 = 0.3       3 % 10 = 3
4 / 10 = 0.4       4 % 10 = 4
5 / 10 = 0.5       5 % 10 = 5
6 / 10 = 0.6       6 % 10 = 6
7 / 10 = 0.7       7 % 10 = 7
8 / 10 = 0.8       8 % 10 = 8
9 / 10 = 0.9       9 % 10 = 9
10 / 10 = 1.0       10 % 10 = 0

# Operadores de comparación

*  \> mayor que
*  <  Menor qué: produce un lógico 
*  ==  Igual: produce un lógico

In [103]:
7 > 5

3 == 7

False

**Nota**

Es importante tener en cuenta el typo de dato al hacer comparaciones

In [104]:
'2' > '19'

True

In [105]:
# Explicación
a = [str(x) for x in range(30)]
a.sort()  #ordena
for index in range(30):
  print('Indice: {} Valor: {}'.format(index, a[index]))

Indice: 0 Valor: 0
Indice: 1 Valor: 1
Indice: 2 Valor: 10
Indice: 3 Valor: 11
Indice: 4 Valor: 12
Indice: 5 Valor: 13
Indice: 6 Valor: 14
Indice: 7 Valor: 15
Indice: 8 Valor: 16
Indice: 9 Valor: 17
Indice: 10 Valor: 18
Indice: 11 Valor: 19
Indice: 12 Valor: 2
Indice: 13 Valor: 20
Indice: 14 Valor: 21
Indice: 15 Valor: 22
Indice: 16 Valor: 23
Indice: 17 Valor: 24
Indice: 18 Valor: 25
Indice: 19 Valor: 26
Indice: 20 Valor: 27
Indice: 21 Valor: 28
Indice: 22 Valor: 29
Indice: 23 Valor: 3
Indice: 24 Valor: 4
Indice: 25 Valor: 5
Indice: 26 Valor: 6
Indice: 27 Valor: 7
Indice: 28 Valor: 8
Indice: 29 Valor: 9

# Operaciones con tipos lógicos
* and : Ambos son verdaderos 
* or : Por lo menos uno de los dos es verdadero
* not : Lo contrario a la entrada

In [106]:
# Ejemplos
print(True or False)

not True

True

False

![AND](https://aristoteles2pc.files.wordpress.com/2011/03/tabla-de-verdad.png)
![OR](https://aristoteles2pc.files.wordpress.com/2011/03/or1.png)

In [162]:
a = 5
b = 10

if (b > 5) and (b % 2 == 0):
  print(1)

if (b > 5) or (a % 2 == 0):
  print(2)

1
2

![NOT](https://aristoteles2pc.files.wordpress.com/2011/03/not1.png?w=584)

In [108]:
a = 2
if not a == 3:
  print(3)

3

#Operaciones con cadenas de texto
* Concatenar cadenas
* Obtener un elemento de una cadena
* Slices sobre cadenas
* Longitud de una cadena
* UPERCASE o lowercase
* Dar formato a cadenas

## Concatenar cadenas

In [109]:
a = 'hola'
b = 'mundo'

print(a + b)

print(a + ' ' + b)

holamundo
hola mundo

## Obtener un elemento de una cadena

In [110]:
# Ejemplo
cadena = 'Hola Mundo'

'''
Caracter: H   o   l   a       M   u   n   d   o
Posición: 0   1   2   3   4   5   6   7   8   9
        -10   -9  -8  -7  -6  -5  -4  -3  -2  -1
Longitud cadena = 10
'''

print(cadena[2])

print(cadena[7])

print(cadena[-5])
print(cadena[-1])

l
n
M
o

## Slices

Un slice en python es hacer un corte sobre múltiples elementos de una cadena o un arreglo.

In [111]:
# Ejemplo
cadena = 'Hola Mundo'

'''
 cadena[start: stop: step]
 start: Entero inicial donde comienza el corte.
        Si no se especifica, el corte empieza desde el índice 0.
 end: entero que indica hasta donde debe llegar el corte
     Si no se especifica, el corte se detiene en el índice - 1.
 step: Valor entero que determina el incremento entre cada índice para cortar.
        Si no se especifica, toma el valor de 1
'''
print(len(cadena))

'''
Caracter: H   o   l   a       M   u   n   d   o
Posición: 0   1   2   3   4   5   6   7   8   9
        -10   -9  -8  -7  -6  -5  -4  -3  -2  -1
Longitud cadena = 10
'''

# Imprimir desde el caracter 0 al [len(cadena) - 1] -> imprime string original
print(cadena[::])

# Imprimir desde el caracter 2 al 6 (no incluye el caracter 6)
'''
rango tomado: [2, 6)
Caracter: l a   M
Posición: 2 3 4 5
Longitud cadena = 10
'''

print(cadena[2:6])  # [2, 6)

print(cadena[2:-2]) # Equivalente a print(cadena[2:8])

print(cadena[::-1])

10
Hola Mundo
la M
la Mun
odnuM aloH

In [112]:
# Ejemplo
cadena = 'Hola Mundo'

len(cadena)

10

## UPPERCASE o lowercase

In [113]:
# Ejemplo
cadena = 'Hola Mundo'

print(cadena.upper())

print(cadena.lower())

HOLA MUNDO
hola mundo

## Dar forma a las cadenas

In [163]:
cadena = 'El señor {} dicta el curso de {}'
nombre = 'Francisco Ospina'
curso = 'Python'

print(cadena.format(nombre, curso))

El señor 123456 dicta el curso de Python

# Tipos de variables complejas

## Listas

Una lista es un conjunto de elementos ordenados simples o complejos. La forma de acceder a cada elemento de la lista es por su indice o posición en la misma. Los elemento de una lista pueden modificarse en cualquier momento.

In [115]:
# Ejemplos 
lista1 = [5, 6, 7, 8, 9]

'''
lista:     [  5   6   7   8   9 ]
posición:     0   1   2   3   4
              -5  -4  -3  -2  -1      
'''

print(lista1)
print(lista1[2])

lista1[3] = 60

print(lista1)
print(lista1[-1])

[5, 6, 7, 8, 9]
7
[5, 6, 7, 60, 9]
9

**Nota**
Los elementos de una lista pueden tener tipos de datos distintos

In [116]:
# Ejemplo
lista2 = [1, 'Hola', [5, 60, 'a']]
#         0    1          2
#                     0   1   2  
print(lista2)
print(lista2[2][2])

[1, 'Hola', [5, 60, 'a']]
a

### Operaciones con listas
* Creación de listas de forma eficiente
* Concatenación de listas
* Pertenencia a listas
* Multiplicidad de listas

#### Creación de listas de forma eficiente

In [117]:
# Ejemplo
# list() es un constructor que crea una lista
list3 = list(range(10))   # lista con números entre el rango [0, 10)
print(list3)

# range(start, end , step)

list4 = list(range(20, 50, 5))
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[20, 25, 30, 35, 40, 45]

#### Concatenación de listas

In [118]:
#Ejemplo
list5 = list(range(5))
list6 = list(range(20, 25))

print('List 5: ', list5, '\n')
print('List 6: ', list6, '\n')

list7 = list5 + list6

print(list7)

List 5:  [0, 1, 2, 3, 4]

List 6:  [20, 21, 22, 23, 24]

[0, 1, 2, 3, 4, 20, 21, 22, 23, 24]

#### Pertenencia a listas

In [119]:
# Ejemplo

lista8 = list(range(10))
print(lista8)

pertenece1 = 8 in lista8
print(pertenece1)

pertenece2 = 50 in lista8
print(pertenece2)

print(90 not in lista8)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
True
False
True

#### Modificación de elementos de una lista

In [120]:
# Ejemplo

lista = list(range(10, 15))
print(lista)

# Reasigni el valor del elemento 2 de la lista
lista[2] = 45   # lista[2] = 12 -> lista[2] = 45
print(lista)

[10, 11, 12, 13, 14]
[10, 11, 45, 13, 14]

#### Borrado de elementos de una lista

In [164]:
# Ejemplo

lista = list(range(10, 15))

print(lista)
del lista[3]

print(lista)

[10, 11, 12, 13, 14]
[10, 11, 12, 14]

#### Añadir elementos al final de una lista

In [122]:
# lista = [10, 11, 12, 13, 14]
lista = list(range(10, 15))

lista.append(20)
# lista = [10, 11, 12, 13, 14, 20]

print(lista)

[10, 11, 12, 13, 14, 20]

#### Multiplicidad de listas

In [123]:
# Ejemplo
lista9 = [2, 3]
lista10 = lista9 * 5

print(lista10)

[2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

#### Sumar todos los elementos de una lista sin utilizar un bucle for

In [124]:
print(sum(range(20)))

my_list = [1, 3, 5]
print(sum(my_list))

190
9

## Tuplas

Son similares a las listas con la diferencia que sus elementos **no pueden ser modificados** después de creados. Las operaciones son las mismas que las de las listas.

In [166]:
# Ejemplo
constantes =(3.1416, 2.71828)
a = ('b', 1)

print(constantes)

#constantes[0] = 5

(3.1416, 2.71828)

### Retornar una tupla de una función

In [126]:
def mayor(a, b):
  if a < b:
    return (a, b)
  else:
    return b, a

In [127]:
nueva_tupla = mayor(7, 5)
print(nueva_tupla)

(5, 7)

In [128]:
my_list_1 = [1, 2, 3]
my_list_2 = [90, 3, -1]

for x, y in zip(my_list_1, my_list_2):
  print('x = {} y = {}'.format(x, y))
  men, may = mayor(x, y)
  print("El número {} es menor que {}.".format(men, may))

x = 1 y = 90
El número 1 es menor que 90.
x = 2 y = 3
El número 2 es menor que 3.
x = 3 y = -1
El número -1 es menor que 3.

In [129]:
a = 5
b = 7
print(a, b)

a, b = b, a

print(a, b)

5 7
7 5

## Diccionarios

Una diccionario es un conjunto de elementos **NO ordenados** simples o complejos. A diferencia de las listas, la forma de acceder a cada elemento no es por la posición o indice sino por una llave previamente definida.

In [130]:
# Ejemplo

persona1 = {'Nombre': 'Francisco', 
            'Apellido': 'Ospina', 
            'Edad': 37, 
            'Genero': 'Masculino'}

print(persona1)

{'Nombre': 'Francisco', 'Apellido': 'Ospina', 'Edad': 37, 'Genero': 'Masculino'}

In [168]:
# persona1[0] #error -> el diccionario no está ordenado

### Operaciones con Diccionarios

* Acceder a elementos
* Añadir elementos
* Obtener todas las llaves
* Obtener todos los valores
* Concatenación de Diccionarios

#### Acceder a elementos y añadir elementos a un diccionario

In [132]:
# Ejemplo
persona1 = {'Nombre': 'Francisco', 
            'Apellido': 'Ospina', 
            'Edad': 37, 
            'Genero': 'Masculino'}

# Acceder a elemento
# persona[llave] = valor
print(persona1['Nombre'])

# Añadir elementos
persona1['Profesion'] = 'Data Scientist'

print(persona1)

#persona1['Nacionalidad']   #Error -> no existe la llave

Francisco
{'Nombre': 'Francisco', 'Apellido': 'Ospina', 'Edad': 37, 'Genero': 'Masculino', 'Profesion': 'Data Scientist'}

#### Obtener todas las llaves y obtener todos los valores de un diccionario

In [133]:
# Ejemplo
persona2 = {'Nombre': 'Francisco', 
            'Apellido': 'Ospina', 
            'Edad': 37, 
            'Genero': 'Masculino'}

# Obtener todas las llaves
print(list(persona2.keys()))

# Obtener todos los valores
print(list(persona2.values()))

['Nombre', 'Apellido', 'Edad', 'Genero']
['Francisco', 'Ospina', 37, 'Masculino']

#### Concatenación de Diccionarios

In [134]:
# Ejemplo
persona3 = {'Nombre': 'Francisco', 
            'Apellido': 'Ospina', 
            'Edad': 37, 
            'Genero': 'Masculino'}

datos_adicionales = {'Profesion': 'Data Scientist', 
                     'Nacionalidad': 'Colombiana'}

persona3.update(datos_adicionales)

print(persona3)
'''
Opcional 

Para no sobreescribir persona3
'''

# persona4 = persona3.copy()
# persona4.update(datos_adicionales)
# print(persona4)

{'Nombre': 'Francisco', 'Apellido': 'Ospina', 'Edad': 37, 'Genero': 'Masculino', 'Profesion': 'Data Scientist', 'Nacionalidad': 'Colombiana'}

'\nOpcional \n\nPara no sobreescribir persona3\n'

In [135]:
# Ejemplo
persona3 = {'Nombre': 'Francisco', 
            'Apellido': 'Ospina', 
            'Edad': 37, 
            'Genero': 'Masculino'}

datos_adicionales = {'Profesion': 'Data Scientist', 
                     'Nacionalidad': 'Colombiana'}

# Opcional para no sobreescribir persona3
persona4 = persona3.copy()
persona4.update(datos_adicionales)
print(persona4)

{'Nombre': 'Francisco', 'Apellido': 'Ospina', 'Edad': 37, 'Genero': 'Masculino', 'Profesion': 'Data Scientist', 'Nacionalidad': 'Colombiana'}

**Nota**

Son estructuras libres de esquema (schemaless)

In [136]:
lista_de_diccionarios = [{'a': 1,
                          'b': 12},
                         
                         {'a': 3, 
                          'b': [1,2,3,4,5]}, 
                         
                         {'a': 100, 
                          'b': 199}]
lista_de_diccionarios[1]['b']

[1, 2, 3, 4, 5]

# Estructuras de control

Las estructuras de control son sentencias que determinan el flujo de un programa. Básicamente ha sentencias de dontrol de dos tipos, aquellas que bifurcan el código para tomar en una dirección o en otra; o aquellas que hacen que el programa ejecute un ciclo de forma repetitiva.
* Bifurcación
  * if
  * if else
  * if elif elif ...
* bucles o loops
  * for
  * while

## Bifurcación

### if
El blloque if es un fragmento de código que permite ejecutar un fragmento de código dada una condición. Puede ir acompañado de

In [137]:
# Ejemplo bloque if
numero = -5

if numero < 0: # Ver dos puntos
    print('El número {} es negativo'.format(numero)) # Ver el tabulador

El número -5 es negativo

### if else

In [138]:
# Ejemplo bloque if else
numero = 7

if numero < 0:
    print('El número {} es negativo'.format(numero))
else:
    print('El número {} es no negativo'.format(numero))

El número 7 es no negativo

#### Formas eficientes de hacer un if else simple

In [170]:
numero = 18

# If normal
if numero % 2 == 0:
    es_par = True
else:
    es_par = False

# If en una sola línea
es_par2 = True if (numero % 2 == 0) else False

print(es_par)
print(es_par2)

True
1

### if elif elif ...

In [140]:
# Ejemplo bloque if else
numero = 0

if numero < 0:
    print('El número {} es negativo'.format(numero))
elif numero > 0:
    print('El número {} es positivo'.format(numero))
else:
    print('El número {} es cero'.format(numero))

El número 0 es cero

## Estructuras de bloques for y while

![Bucles o loops](http://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1508331558/Loop_2-2_igl4qt.jpg)

Imagen extraida desde [DataCamp](https://www.datacamp.com/community/tutorials/loops-python-tutorial)

### while

Un ejemplo de uso del bloque while es imprimir todos los número de una secuencia de Fibonacci inferiores a un limite superior o cota.

In [141]:
limite_superior = 15

# a = 0
# b = 1
a, b = 0, 1
# b < 15
while b < limite_superior:
    print(b),
    # a = b
    # b = a + b
    a, b = b, a + b

1
1
2
3
5
8
13

In [171]:
aux = 0
while True:
  aux = aux + 1
  if(aux == 50):
    print("El bucle se ejecutó 50 veces")
    break

El bucle se ejecutó 50 veces

### Bucle for

* Uso con listas
* Uso con listas y range
* Uso con tuplas
* Uso con diccionarios

In [143]:
# range(5) = [0, 1, 2, 3, 4]
for i in range(5):
    print('{}^{} = {}'.format(i, i, i * i))
    print("i = ", i)

0^0 = 0
i =  0
1^1 = 1
i =  1
2^2 = 4
i =  2
3^3 = 9
i =  3
4^4 = 16
i =  4

#### Uso con listas

In [144]:
nombres = ['Mario', 'Mariana', 'Gustavo', 'Francisco']

for nombre in nombres:
    print('El nombre {} tiene {} caracteres'.format(nombre, len(nombre)))

El nombre Mario tiene 5 caracteres
El nombre Mariana tiene 7 caracteres
El nombre Gustavo tiene 7 caracteres
El nombre Francisco tiene 9 caracteres

In [145]:
for i in range(10):
  if(i % 2 == 0): #par
    continue
  print(i)

1
3
5
7
9

#### Uso con listas y range

In [146]:
frase = 'Somos lo que hacemos de forma repetida. La excelencia, entonces, no es un acto, sino un hábito. Aristóteles'
'''
la función split(separador) genera una lista con los elementos que fueron
divididos al contener el "separador" entre ellos

string = 'Hola Mundo'
lista_n = string.split(' ')
# lista_n = ['Hola', 'Mundo']

'''
lista_palabras = frase.split(' ')
longitud = len(lista_palabras)
for i in range(longitud):
    print('La palabra "{}" se encuentra como {}-esima palabra de la frase'.format(lista_palabras[i], i + 1))

La palabra "Somos" se encuentra como 1-esima palabra de la frase
La palabra "lo" se encuentra como 2-esima palabra de la frase
La palabra "que" se encuentra como 3-esima palabra de la frase
La palabra "hacemos" se encuentra como 4-esima palabra de la frase
La palabra "de" se encuentra como 5-esima palabra de la frase
La palabra "forma" se encuentra como 6-esima palabra de la frase
La palabra "repetida." se encuentra como 7-esima palabra de la frase
La palabra "La" se encuentra como 8-esima palabra de la frase
La palabra "excelencia," se encuentra como 9-esima palabra de la frase
La palabra "entonces," se encuentra como 10-esima palabra de la frase
La palabra "no" se encuentra como 11-esima palabra de la frase
La palabra "es" se encuentra como 12-esima palabra de la frase
La palabra "un" se encuentra como 13-esima palabra de la frase
La palabra "acto," se encuentra como 14-esima palabra de la frase
La palabra "sino" se encuentra como 15-esima palabra de la frase
La palabra "un" se encuentra como 16-esima palabra de la frase
La palabra "hábito." se encuentra como 17-esima palabra de la frase
La palabra "Aristóteles" se encuentra como 18-esima palabra de la frase

**Una versión más eficiente**

In [147]:
frase = 'Somos lo que hacemos de forma repetida. La excelencia, entonces, no es un acto, sino un hábito. Aristóteles'
lista_palabras = frase.split(' ')

# enumerate construye una lista de tuplas, donde la primera parte de la tupla
print(enumerate(lista_palabras))
for i, palabra in enumerate(lista_palabras):
    print('La palabra "{}" se encuentra en la posición {} en la frase'.format(palabra, i + 1))

<enumerate object at 0x7faa3ff01168>
La palabra "Somos" se encuentra en la posición 1 en la frase
La palabra "lo" se encuentra en la posición 2 en la frase
La palabra "que" se encuentra en la posición 3 en la frase
La palabra "hacemos" se encuentra en la posición 4 en la frase
La palabra "de" se encuentra en la posición 5 en la frase
La palabra "forma" se encuentra en la posición 6 en la frase
La palabra "repetida." se encuentra en la posición 7 en la frase
La palabra "La" se encuentra en la posición 8 en la frase
La palabra "excelencia," se encuentra en la posición 9 en la frase
La palabra "entonces," se encuentra en la posición 10 en la frase
La palabra "no" se encuentra en la posición 11 en la frase
La palabra "es" se encuentra en la posición 12 en la frase
La palabra "un" se encuentra en la posición 13 en la frase
La palabra "acto," se encuentra en la posición 14 en la frase
La palabra "sino" se encuentra en la posición 15 en la frase
La palabra "un" se encuentra en la posición 16 en la frase
La palabra "hábito." se encuentra en la posición 17 en la frase
La palabra "Aristóteles" se encuentra en la posición 18 en la frase

In [148]:
var = [(0, 'H'), (1, 'o'), (2, 'l'), (3, 'a')]

for i, caracter in var:
  print(i, caracter)

0 H
1 o
2 l
3 a

#### For anidado

In [149]:
var = [[1, 2], [3, 4], [5, 6], [7, 8]]

for temporal in var:
  print(temporal)
  for i in temporal:
    print(i)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6
[7, 8]
7
8

#### Uso con tuplas

#### Uso con diccionarios

##### Iteradores de llaves

In [150]:
dic = {'Nombre': 'Francisco', 
       'Apellido': 'Ospina', 
       'Edad': 37, 'Genero': 
       'Masculino', 'Profesion': 
       'Data Scientist', 
       'Nacionalidad': 'Colombiana'}

# Iterar Llaves
for key in dic.keys():
    print(key)

Nombre
Apellido
Edad
Genero
Profesion
Nacionalidad

##### Iteradores de valores

In [151]:
for value in dic.values():
    print(value)

Francisco
Ospina
37
Masculino
Data Scientist
Colombiana

##### Iteradores de llaves y valores

In [152]:
# dic.items retorna una lista de tuplas donde:
# El primer valor corresponde a la llave
# El segundo valor corresponde al valor correspondiente a esa llave
for key, value in dic.items():
    print('La llave es "{}" y el valor es "{}"'.format(key, value))

La llave es "Nombre" y el valor es "Francisco"
La llave es "Apellido" y el valor es "Ospina"
La llave es "Edad" y el valor es "37"
La llave es "Genero" y el valor es "Masculino"
La llave es "Profesion" y el valor es "Data Scientist"
La llave es "Nacionalidad" y el valor es "Colombiana"

#### Bucles for útiles

* Listas por comprensión
* Iteradores de dos objetos simultaneos

##### Listas por comprensión

In [153]:
# Ejemplo lista normal
# numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros = range(1, 11)

# Defino una lista a la que se le irán agregando elementos en el bucle
cuadrados = list()

for i in numeros:
    # la función append(X) agrega el elemento X al final de la lista
    cuadrados.append(i ** 2)
    
print(list(numeros))
print(cuadrados)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [154]:
# Mismo ejemplo pero con lista por comprensión

numeros = range(1, 11)
# Elevo al cuadrado los valores de la lista numeros
cuadrados = [x ** 2 for x in numeros]

print(list(numeros))
print(cuadrados)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [155]:
# Ejemplo lista por comprensión

numeros = range(1, 11)
pares = [x for x in numeros if x % 2 == 0]

print(list(numeros))
print(pares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

##### Iteradores de dos objetos simultaneos

In [156]:
base = [1, 2, 6, 4, 7]
exponente = [2, 1, 3, 4, 8]

# [1^2, 2^1, 6^3, 4^4, 7^8]
potencia = [x ** y for x,y in zip(base, exponente)]

print(potencia)

[1, 2, 216, 256, 5764801]