<a href="https://colab.research.google.com/github/gtzambranop/UN_2020_2/blob/DCD/DCD/module_2_francisco/Clase_5_python_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! wget https://www.dropbox.com/s/kc98g3pjcp8trba/MCU2.csv

--2020-09-27 05:52:01--  https://www.dropbox.com/s/kc98g3pjcp8trba/MCU2.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/kc98g3pjcp8trba/MCU2.csv [following]
--2020-09-27 05:52:02--  https://www.dropbox.com/s/raw/kc98g3pjcp8trba/MCU2.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc45f760b14f5f4e3183929e9a75.dl.dropboxusercontent.com/cd/0/inline/BALDX1cRE4T1buSDcnfMR1HSpGwGhzhlupkD4uK97GVbvpxTpzmcdXUMOtNCw3qIPZjN8TtIAb1ybHQEQAGXWP8ZjU4t_6Q2MDWG_oRLrZ5EG8MokCsK1KdufN9HsmJDO5g/file# [following]
--2020-09-27 05:52:02--  https://uc45f760b14f5f4e3183929e9a75.dl.dropboxusercontent.com/cd/0/inline/BALDX1cRE4T1buSDcnfMR1HSpGwGhzhlupkD4uK97GVbvpxTpzmcdXUMOtNCw3qIPZjN8TtIAb1ybHQEQAGXWP8ZjU4t_6Q2MDWG_oRLrZ5EG8MokCsK1KdufN9HsmJDO5g/file
Resolving uc45f760b14f5f4e3183929e9a75.dl.dropboxusercontent.com (uc45f760b14f5f4e3183929e9a75.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc45f760b14f5f4e3183929e9a75.dl.dropboxusercontent.com (uc45f760b14f5f4e3183929e9a75.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1890 (1.8K) [text/plain]
Saving to: ‘MCU2.csv.1’

MCU2.csv.1          100%[===================>]   1.85K  --.-KB/s    in 0s

2020-09-27 05:52:02 (267 MB/s) - ‘MCU2.csv.1’ saved [1890/1890]

In [ ]:
! head -n 5 MCU2.csv

Iron Man,The Incredible Hulk,Iron Man 2,Thor,Capitán América: el primer vengador,The Avengers,Iron Man 3,Thor: The Dark World,Captain America: The Winter Soldier,Guardianes de la Galaxia,Avengers: Age of Ultron,Ant-Man,Captain America: Civil War,Doctor Strange,Guardianes de la Galaxia Vol. 2,Spider-Man: Homecoming,Thor: Ragnarok,Black Panther,Avengers: Infinity War,Ant-Man and The Wasp
17,12,14,13,11,18,4,5,6,16,17,10,19,17,7,6,10,8,20,9
8,1,7,1,7,8,7,3,8,9,7,9,8,9,9,9,9,8,9,9
20,13,6,7,11,19,9,5,17,20,20,17,20,10,6,6,4,17,18,8
18,10,19,15,5,16,18,16,8,18,,,18,,16,10,,,17,

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [ ]:
import pandas as pd
df_mcu = pd.read_csv('MCU2.csv')

In [ ]:
df_mcu

    Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0       17.0                 12.0  ...                      20                   9.0
1        8.0                  1.0  ...                       9                   9.0
2       20.0                 13.0  ...                      18                   8.0
3       18.0                 10.0  ...                      17                   NaN
4        NaN                  3.0  ...                      16                   NaN
5       13.0                  NaN  ...                      20                   NaN
6       17.0                 13.0  ...                      20                  19.0
7       10.0                 11.0  ...                      20                  17.0
8       14.0                  8.0  ...                      20                   5.0
9       16.0                 13.0  ...                      20                  14.0
10      15.0                  1.0  ...                      16                   7.0
11       1.0                  1.0  ...                       1                   1.0
12      11.0                  2.0  ...                      18                  13.0
13      15.0                 12.0  ...                      20                  16.0
14      16.0                  5.0  ...                      20                   9.0
15      15.0                 10.0  ...                      20                  13.0
16       3.0                  5.0  ...                      16                   NaN
17       NaN                  2.0  ...                       4                   NaN
18       9.0                  1.0  ...                      20                   9.0
19      18.0                 10.0  ...                      18                  18.0
20      15.0                 10.0  ...                      16                  14.0
21      18.0                 10.0  ...                      20                   NaN
22      13.0                  2.0  ...                      17                   NaN
23      18.0                  1.0  ...                      15                   NaN
24      15.0                  1.0  ...                      20                   NaN
25      17.0                  NaN  ...                      20                   NaN
26      17.0                  NaN  ...                      20                  13.0
27       NaN                  NaN  ...                      17                  18.0
28       7.0                  2.0  ...                      19                  11.0
29      10.0                  8.0  ...                      17                  13.0

[30 rows x 20 columns]

In [ ]:
df_mcu.shape

(30, 20)

In [ ]:
df_mcu2 = df_mcu.dropna()
df_mcu2.shape

(15, 20)

In [ ]:
dc_mean = df_mcu.mean().to_dict()
df_mcu3 = df_mcu.fillna(dc_mean)
df_mcu3.head()

    Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0  17.000000                 12.0  ...                      20                   9.0
1   8.000000                  1.0  ...                       9                   9.0
2  20.000000                 13.0  ...                      18                   8.0
3  18.000000                 10.0  ...                      17                  11.8
4  13.555556                  3.0  ...                      16                  11.8

[5 rows x 20 columns]

In [ ]:
df_mcu.mean(axis=0)
df_mcu.mean(axis=1)

0     11.950000
1      7.250000
2     12.650000
3     14.571429
4      9.833333
5     12.277778
6     18.200000
7     10.500000
8     10.500000
9     14.450000
10    11.900000
11     1.050000
12    10.500000
13    14.550000
14    10.500000
15    12.526316
16    11.333333
17     2.900000
18    11.111111
19    13.850000
20    13.916667
21    14.526316
22    11.000000
23    10.736842
24    10.894737
25    15.250000
26    12.263158
27    13.857143
28    10.500000
29    12.500000
dtype: float64

In [ ]:
dc_median = df_mcu.quantile(.5).to_dict()
df_mcu4 = df_mcu.fillna(dc_median)
df_mcu4.head()

   Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0      17.0                 12.0  ...                      20                   9.0
1       8.0                  1.0  ...                       9                   9.0
2      20.0                 13.0  ...                      18                   8.0
3      18.0                 10.0  ...                      17                  13.0
4      15.0                  3.0  ...                      16                  13.0

[5 rows x 20 columns]

In [ ]:
! pip install impyute

Requirement already satisfied: impyute in /usr/local/lib/python3.6/dist-packages (0.0.8)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from impyute) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from impyute) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from impyute) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->impyute) (0.16.0)

In [ ]:
#import sys
from impyute.imputation.cs import fast_knn
#sys.setrecursionlimit(100000) 

df_mcu5 = fast_knn(df_mcu.values, k=10) #Recibe y retorna como parámetro un array de numpy
df_mcu5 = pd.DataFrame(df_mcu5, columns=df_mcu.columns)
df_mcu5.head()

    Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0  17.000000                 12.0  ...                    20.0              9.000000
1   8.000000                  1.0  ...                     9.0              9.000000
2  20.000000                 13.0  ...                    18.0              8.000000
3  18.000000                 10.0  ...                    17.0             13.518933
4  12.858728                  3.0  ...                    16.0             11.475344

[5 rows x 20 columns]

In [ ]:
from impyute.imputation.cs import mice

df_mcu6 = mice(df_mcu.values) # Ver docstring
df_mcu6 = pd.DataFrame(df_mcu6, columns=df_mcu.columns)
df_mcu6.head()

    Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0  17.000000                 12.0  ...                    20.0              9.000000
1   8.000000                  1.0  ...                     9.0              9.000000
2  20.000000                 13.0  ...                    18.0              8.000000
3  18.000000                 10.0  ...                    17.0             30.785275
4  13.555556                  3.0  ...                    16.0              0.796626

[5 rows x 20 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(df_mcu6)
df_scaled = scaler.transform(df_mcu6)
df_scaled = pd.DataFrame(df_scaled, columns=df_mcu.columns)
df_scaled.head()

   Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0  0.842105             0.916667  ...                1.000000              0.284634
1  0.368421             0.000000  ...                0.421053              0.284634
2  1.000000             1.000000  ...                0.894737              0.251796
3  0.894737             0.750000  ...                0.842105              1.000000
4  0.660819             0.166667  ...                0.789474              0.015258

[5 rows x 20 columns]

In [ ]:
import numpy as np
import pandas as pd

array = np.arange(1000, 10000)
array2 = np.arange(100)
mat1 = np.random.choice(array, 450).reshape(30,15)
mat2 = np.random.choice(array2, 90).reshape(30,3)

concat = np.concatenate((mat1, mat2), axis=1)
np.random.shuffle(np.transpose(concat))

bool_mat = np.random.choice(np.array([True, True, False]), 18*30).reshape(30,18)

concat[bool_mat] = 0

df1 = pd.DataFrame(concat)
df1

      0     1     2     3     4     5   ...  12    13    14    15  16  17
0   8770     0     0  1007  1165  1728  ...   0  9483  3883     0   0   0
1      0  9223     0     0     0     0  ...   0  7097     0     0   0   0
2   7019     0  4988     0  8493     0  ...  52  1532     0     0  95  83
3   6008     0     0     0  8325     0  ...   0     0  5795     0   0  26
4   4266     0     0     0  8062     0  ...  15     0     0  2664   0  94
5      0     0  5903     0     0     0  ...   0     0  7963     0   0  63
6      0     0  2662     0     0     0  ...   0     0  9919     0   0   4
7   8324     0  6583  5957     0     0  ...   0     0  2291     0   0   0
8   2051  4191     0     0     0  2464  ...  80     0     0     0  84   0
9      0     0     0     0     0     0  ...  40     0  9217     0   0  39
10  1649     0  6654  7812     0     0  ...   0  7449     0     0  97   0
11     0     0  1414     0  2490     0  ...   0  5085     0     0   0  39
12     0     0     0     0     0  2465  ...   0     0     0     0   0  17
13     0     0  1705  8936  4276  8928  ...  56  6722  2814  9765   0  83
14     0     0     0     0     0     0  ...  97     0  8971  2782   0   0
15     0  9462     0     0     0  9080  ...  45     0  8455  7844  52  41
16  2620  5395     0     0     0     0  ...  89     0     0     0  63   0
17     0     0     0  3951     0     0  ...   0     0     0     0   0   0
18     0  5401  4045     0  9877     0  ...  45  4554  2843     0  54   0
19     0     0  7382     0     0  2848  ...   0     0     0     0   8   0
20     0     0     0  5903     0  6870  ...  45     0  1736     0   0  93
21  3832  7227     0     0  3793     0  ...   0     0     0     0   0   0
22  3530     0     0  1306  4698  4542  ...  42  1281     0  1064   0   0
23     0     0     0     0     0  5338  ...   0     0  1442     0   0   0
24  7359  2894     0  7059     0     0  ...   0     0  6458  4315   0  96
25     0  8182     0     0     0  6658  ...   0     0     0     0  15   0
26     0     0     0     0     0  4626  ...   0     0     0  5429  77  75
27     0  1809     0  4414     0     0  ...  15     0  9925  7212   0  56
28  9362     0     0     0     0     0  ...   0     0     0     0  58   0
29     0     0     0     0  2757     0  ...   0     0     0     0   0   0

[30 rows x 18 columns]

In [ ]:
from sklearn.preprocessing import MaxAbsScaler

scaler = MaxAbsScaler()
scaler.fit(df1)
scaled = scaler.transform(df1)
df1_scaled = pd.DataFrame(scaled)
df1_scaled

          0         1         2   ...        15        16        17
0   0.936766  0.000000  0.000000  ...  0.000000  0.000000  0.000000
1   0.000000  0.974741  0.000000  ...  0.000000  0.000000  0.000000
2   0.749733  0.000000  0.675698  ...  0.000000  0.979381  0.864583
3   0.641743  0.000000  0.000000  ...  0.000000  0.000000  0.270833
4   0.455672  0.000000  0.000000  ...  0.272811  0.000000  0.979167
5   0.000000  0.000000  0.799648  ...  0.000000  0.000000  0.656250
6   0.000000  0.000000  0.360607  ...  0.000000  0.000000  0.041667
7   0.889126  0.000000  0.891764  ...  0.000000  0.000000  0.000000
8   0.219077  0.442930  0.000000  ...  0.000000  0.865979  0.000000
9   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.406250
10  0.176138  0.000000  0.901382  ...  0.000000  1.000000  0.000000
11  0.000000  0.000000  0.191547  ...  0.000000  0.000000  0.406250
12  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.177083
13  0.000000  0.000000  0.230967  ...  1.000000  0.000000  0.864583
14  0.000000  0.000000  0.000000  ...  0.284895  0.000000  0.000000
15  0.000000  1.000000  0.000000  ...  0.803277  0.536082  0.427083
16  0.279855  0.570175  0.000000  ...  0.000000  0.649485  0.000000
17  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
18  0.000000  0.570810  0.547954  ...  0.000000  0.556701  0.000000
19  0.000000  0.000000  1.000000  ...  0.000000  0.082474  0.000000
20  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.968750
21  0.409314  0.763792  0.000000  ...  0.000000  0.000000  0.000000
22  0.377056  0.000000  0.000000  ...  0.108961  0.000000  0.000000
23  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
24  0.786050  0.305855  0.000000  ...  0.441884  0.000000  1.000000
25  0.000000  0.864722  0.000000  ...  0.000000  0.154639  0.000000
26  0.000000  0.000000  0.000000  ...  0.555965  0.793814  0.781250
27  0.000000  0.191186  0.000000  ...  0.738556  0.000000  0.583333
28  1.000000  0.000000  0.000000  ...  0.000000  0.597938  0.000000
29  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000

[30 rows x 18 columns]

In [ ]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaler.fit(df1)
scaled = scaler.transform(df1)
pd.DataFrame(scaled)

          0         1         2   ...         15        16        17
0   2.334620  0.000000  0.000000  ...   0.000000  0.000000  0.000000
1   0.000000  3.516538  0.000000  ...   0.000000  0.000000  0.000000
2   1.868495  0.000000  3.055904  ...   0.000000  2.222222  1.588517
3   1.599361  0.000000  0.000000  ...   0.000000  0.000000  0.497608
4   1.135632  0.000000  0.000000  ...   3.338346  0.000000  1.799043
5   0.000000  0.000000  3.616480  ...   0.000000  0.000000  1.205742
6   0.000000  0.000000  1.630878  ...   0.000000  0.000000  0.076555
7   2.215892  0.000000  4.033083  ...   0.000000  0.000000  0.000000
8   0.545987  1.597941  0.000000  ...   0.000000  1.964912  0.000000
9   0.000000  0.000000  0.000000  ...   0.000000  0.000000  0.746411
10  0.438972  0.000000  4.076581  ...   0.000000  2.269006  0.000000
11  0.000000  0.000000  0.866289  ...   0.000000  0.000000  0.746411
12  0.000000  0.000000  0.000000  ...   0.000000  0.000000  0.325359
13  0.000000  0.000000  1.044570  ...  12.236842  0.000000  1.588517
14  0.000000  0.000000  0.000000  ...   3.486216  0.000000  0.000000
15  0.000000  3.607664  0.000000  ...   9.829574  1.216374  0.784689
16  0.697458  2.057001  0.000000  ...   0.000000  1.473684  0.000000
17  0.000000  0.000000  0.000000  ...   0.000000  0.000000  0.000000
18  0.000000  2.059289  2.478174  ...   0.000000  1.263158  0.000000
19  0.000000  0.000000  4.522592  ...   0.000000  0.187135  0.000000
20  0.000000  0.000000  0.000000  ...   0.000000  0.000000  1.779904
21  1.020098  2.755505  0.000000  ...   0.000000  0.000000  0.000000
22  0.939705  0.000000  0.000000  ...   1.333333  0.000000  0.000000
23  0.000000  0.000000  0.000000  ...   0.000000  0.000000  0.000000
24  1.959004  1.103422  0.000000  ...   5.407268  0.000000  1.837321
25  0.000000  3.119626  0.000000  ...   0.000000  0.350877  0.000000
26  0.000000  0.000000  0.000000  ...   6.803258  1.801170  1.435407
27  0.000000  0.689734  0.000000  ...   9.037594  0.000000  1.071770
28  2.492213  0.000000  0.000000  ...   0.000000  1.356725  0.000000
29  0.000000  0.000000  0.000000  ...   0.000000  0.000000  0.000000

[30 rows x 18 columns]

In [ ]:
a = 1e6
print(a)

for i in np.arange(1e6):
    a = a + 1e-6
    
print(a)

1000000.0
1000001.0000076145

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(df_mcu6)
df_scaled = scaler.transform(df_mcu6)
df_scaled = pd.DataFrame(df_scaled, columns=df_mcu.columns)
df_scaled.head()

   Iron Man  The Incredible Hulk  ...  Avengers: Infinity War  Ant-Man and The Wasp
0  0.842105             0.916667  ...                1.000000              0.284634
1  0.368421             0.000000  ...                0.421053              0.284634
2  1.000000             1.000000  ...                0.894737              0.251796
3  0.894737             0.750000  ...                0.842105              1.000000
4  0.660819             0.166667  ...                0.789474              0.015258

[5 rows x 20 columns]

### Tranmsformación inversa del escalado para interpretación

In [ ]:
df_cluster_1 = df_scaled.loc[[1,5,8,6,20]]
pd.DataFrame(scaler.inverse_transform(df_cluster_1.values))

     0          1     2     3     4   ...         15    16    17    18         19
0   8.0   1.000000   7.0   1.0   7.0  ...   9.000000   9.0   8.0   9.0   9.000000
1  13.0   6.423077   8.0  10.0   9.0  ...   5.000000   3.0  12.0  20.0  26.721673
2  14.0   8.000000   9.0  10.0  11.0  ...   1.000000  18.0  19.0  20.0   5.000000
3  17.0  13.000000  14.0  19.0  20.0  ...  20.000000  17.0  20.0  20.0  19.000000
4  15.0  10.000000  15.0  13.0  13.0  ...  11.423077  12.0  13.0  16.0  14.000000

[5 rows x 20 columns]

1. Flujo de datos:
  - Limpieza de datos
    - Remover ouliers
    - Imputación
  - Escalamiento de variables
  - Modelamiento
  - Escalamiento inverso de variables para interpretar

In [ ]:
import plotly.graph_objects as go
import numpy as np

fig = go.Figure()
for index, column in df_scaled.iteritems():
    fig.add_trace(go.Box(y=column, name=index))

fig.show()

In [ ]:
ri = df_scaled.quantile(.75) - df_scaled.quantile(.25)
ls = df_scaled.quantile(.75) + (1.5 * ri )
ls

Iron Man                               1.276316
The Incredible Hulk                    1.750000
Iron Man 2                             1.388889
Thor                                   1.145776
Capitán América: el primer vengador    1.223684
The Avengers                           1.217105
Iron Man 3                             0.999124
Thor: The Dark World                   1.340278
Captain America: The Winter Soldier    1.664474
Guardianes de la Galaxia               1.312500
Avengers: Age of Ultron                1.427632
Ant-Man                                1.222222
Captain America: Civil War             1.447368
Doctor Strange                         1.276316
Guardianes de la Galaxia Vol. 2        1.414474
Spider-Man: Homecoming                 1.177632
Thor: Ragnarok                         1.135206
Black Panther                          1.493421
Avengers: Infinity War                 1.296053
Ant-Man and The Wasp                   0.920853
dtype: float64

In [ ]:
li = df_scaled.quantile(.25) - (1.5 * ri )
li

Iron Man                               0.118421
The Incredible Hulk                   -0.916667
Iron Man 2                            -0.388889
Thor                                  -0.311981
Capitán América: el primer vengador   -0.144737
The Avengers                           0.217105
Iron Man 3                            -0.404315
Thor: The Dark World                  -0.604167
Captain America: The Winter Soldier   -0.388158
Guardianes de la Galaxia               0.034722
Avengers: Age of Ultron               -0.309211
Ant-Man                               -0.111111
Captain America: Civil War             0.078947
Doctor Strange                         0.118421
Guardianes de la Galaxia Vol. 2       -0.427632
Spider-Man: Homecoming                -0.032895
Thor: Ragnarok                         0.022783
Black Panther                         -0.243421
Avengers: Infinity War                 0.506579
Ant-Man and The Wasp                  -0.097098
dtype: float64

In [ ]:
df_scaled2 = df_scaled.copy()
for key in li.keys():
    df_scaled2 = df_scaled2[df_scaled2[key] > li[key]]

In [ ]:
df_scaled3 = df_scaled.copy()
for key in ls.keys():
    df_scaled3 = df_scaled3[df_scaled3[key] > ls[key]]

In [ ]:
df_scaled3

Empty DataFrame
Columns: [Iron Man, The Incredible Hulk, Iron Man 2, Thor, Capitán América: el primer vengador, The Avengers, Iron Man 3, Thor: The Dark World, Captain America: The Winter Soldier, Guardianes de la Galaxia, Avengers: Age of Ultron, Ant-Man, Captain America: Civil War, Doctor Strange, Guardianes de la Galaxia Vol. 2, Spider-Man: Homecoming, Thor: Ragnarok, Black Panther, Avengers: Infinity War, Ant-Man and The Wasp]
Index: []

In [ ]:
from scipy import stats
z_score = stats.zscore(df_scaled)
norm = stats.norm()
max_val = norm.ppf(.95)
df_bool = pd.DataFrame(z_score) < -max_val
df_scaled3 = df_mcu[df_bool.sum(axis=1) == 0]

In [ ]:
import plotly.graph_objects as go
import numpy as np

fig = go.Figure()
for index, column in df_scaled3.iteritems():
    fig.add_trace(go.Box(y=column, name=index))

fig.show()

In [ ]:
! pip install names

Collecting names
  Downloading https://files.pythonhosted.org/packages/44/4e/f9cb7ef2df0250f4ba3334fbdabaa94f9c88097089763d8e85ada8092f84/names-0.3.0.tar.gz (789kB)
     |████████████████████████████████| 798kB 3.4MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-cp36-none-any.whl size=803689 sha256=878f1206e1cd69a992843bf84f177b6d64af59b1d002790d5ef4a818bc257024
  Stored in directory: /root/.cache/pip/wheels/f9/a5/e1/be3e0aaa6fa285575078fa2aafd9959b45bdbc8de8a6803aeb
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [ ]:
import names 


peso = np.arange(20,80)
peso = np.random.choice(peso, 500)

talla = (peso * 1.1) + 100 
talla = talla + np.random.normal(loc=0, scale=3, size=len(talla))

nombres = [names.get_first_name() for x in np.arange(len(peso))]
np.random.seed(1)

fig = go.Figure(data=go.Scatter(x=talla, y=peso, mode='markers'))

fig.show()

In [ ]:
df_talla_peso = pd.DataFrame({'Nombre': nombres, 'Peso': peso, 'Talla': talla})
df_outliers = pd.DataFrame({'Nombre': ['Mario', 'Francisco'], 'Peso': [22, 80], 'Talla': [185, 130]})
df_talla_peso = pd.concat([df_talla_peso, df_outliers])
df_talla_peso = df_talla_peso.sample(frac=1).reset_index(drop=True)
df_talla_peso.head()

    Nombre  Peso       Talla
0   Melody    48  153.580679
1    Alice    36  134.757144
2  Colleen    79  186.429121
3    Wendy    50  159.718646
4    Dinah    54  154.707063

In [ ]:
df_talla_peso.shape

(502, 3)

In [ ]:
bins = [0, 100, 130, 150, 170, 200, 220]
cats = pd.cut(df_talla_peso['Talla'], bins)
cats.name = 'Talla_categ'
pd.concat([df_talla_peso, cats], axis=0)

      Nombre  Peso       Talla           0
0     Melody  48.0  153.580679         NaN
1      Alice  36.0  134.757144         NaN
2    Colleen  79.0  186.429121         NaN
3      Wendy  50.0  159.718646         NaN
4      Dinah  54.0  154.707063         NaN
..       ...   ...         ...         ...
497      NaN   NaN         NaN  (100, 130]
498      NaN   NaN         NaN  (170, 200]
499      NaN   NaN         NaN  (100, 130]
500      NaN   NaN         NaN  (170, 200]
501      NaN   NaN         NaN  (130, 150]

[1004 rows x 4 columns]

In [ ]:
generos = np.array(['M', 'F', 'ND'])
df1 = pd.DataFrame({'Genero': np.random.choice(generos, 20)})
df1

   Genero
0       M
1      ND
2       F
3      ND
4       F
5      ND
6      ND
7       F
8       M
9       M
10      F
11      F
12     ND
13      F
14      F
15     ND
16      F
17      F
18     ND
19     ND

In [ ]:
pd.get_dummies(df1['Genero'])

    F  M  ND
0   0  1   0
1   0  0   1
2   1  0   0
3   0  0   1
4   1  0   0
5   0  0   1
6   0  0   1
7   1  0   0
8   0  1   0
9   0  1   0
10  1  0   0
11  1  0   0
12  0  0   1
13  1  0   0
14  1  0   0
15  0  0   1
16  1  0   0
17  1  0   0
18  0  0   1
19  0  0   1

In [ ]:
df_talla_peso.to_excel('Talla_peso.xlsx')

In [ ]:
df_talla_peso.to_csv('Talla_peso.csv', index=False)

In [ ]:
df_talla_peso.to_sql

<bound method NDFrame.to_sql of        Nombre  Peso       Talla
0      Melody    48  153.580679
1       Alice    36  134.757144
2     Colleen    79  186.429121
3       Wendy    50  159.718646
4       Dinah    54  154.707063
..        ...   ...         ...
497   Janelle    30  125.658447
498      Erin    71  179.004303
499  Nicholas    22  125.308335
500    Steven    78  183.642049
501    George    46  146.265195

[502 rows x 3 columns]>

In [ ]:
! wget https://www.dropbox.com/s/wq48iaeeahwqau4/Iris_faltantes.xlsx
! wget https://www.dropbox.com/s/xz2feavbubiu6dw/Iris.xlsx

--2020-09-27 05:52:16--  https://www.dropbox.com/s/wq48iaeeahwqau4/Iris_faltantes.xlsx
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/wq48iaeeahwqau4/Iris_faltantes.xlsx [following]
--2020-09-27 05:52:17--  https://www.dropbox.com/s/raw/wq48iaeeahwqau4/Iris_faltantes.xlsx
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com/cd/0/inline/BAKBy0-IkmSN6wnRa1piql7R6UBsXoo1VI6J1tgFQWZqIHMsXwIuKe3UvOQ85okWTy7YZCpRR8TMpC2xtC1VzgSDBDN1DVGhVWhsYpleCGN506PV3yR2Oi6XBjfJNY2C7F4/file# [following]
--2020-09-27 05:52:17--  https://uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com/cd/0/inline/BAKBy0-IkmSN6wnRa1piql7R6UBsXoo1VI6J1tgFQWZqIHMsXwIuKe3UvOQ85okWTy7YZCpRR8TMpC2xtC1VzgSDBDN1DVGhVWhsYpleCGN506PV3yR2Oi6XBjfJNY2C7F4/file
Resolving uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com (uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com (uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BALdohTOm7XgWdgmqEe1QzMqNxLDxukQhNkQJhIaInrPUdiNHC4owP9yhqyyAihRxQRlfz23Ls-3vdNfaE5xaU7MLjolmJIfz4YwL-USOU0pdEdVvngAhQiXo50N61cxmC9kz-s6smP292YOfxnaI8LTTilqRqRrtRceEgo7vHZJw0tkLw7Br9rvicu7W-7_h2b7FnBJUv8Cra7K8x7pd0Z2EnzlAkXspAlkMgbKHNp5yEy3jgzAUin7JWxacVlcRbFfxTbH0mOksmT50kXi0qQCr0R4ydZcxt38nkHS2rJXrpuAwESmnr_D6IOcoBHU1DBIkTsSOz0-G2LlRDm8QQwNX8gkxizYI5EYkQx4SpmnQg/file [following]
--2020-09-27 05:52:17--  https://uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com/cd/0/inline2/BALdohTOm7XgWdgmqEe1QzMqNxLDxukQhNkQJhIaInrPUdiNHC4owP9yhqyyAihRxQRlfz23Ls-3vdNfaE5xaU7MLjolmJIfz4YwL-USOU0pdEdVvngAhQiXo50N61cxmC9kz-s6smP292YOfxnaI8LTTilqRqRrtRceEgo7vHZJw0tkLw7Br9rvicu7W-7_h2b7FnBJUv8Cra7K8x7pd0Z2EnzlAkXspAlkMgbKHNp5yEy3jgzAUin7JWxacVlcRbFfxTbH0mOksmT50kXi0qQCr0R4ydZcxt38nkHS2rJXrpuAwESmnr_D6IOcoBHU1DBIkTsSOz0-G2LlRDm8QQwNX8gkxizYI5EYkQx4SpmnQg/file
Reusing existing connection to uc4d07bfceee7f9a8b29f4bc9b0c.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 8632 (8.4K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Iris_faltantes.xlsx’

Iris_faltantes.xlsx 100%[===================>]   8.43K  --.-KB/s    in 0s

2020-09-27 05:52:18 (30.6 MB/s) - ‘Iris_faltantes.xlsx’ saved [8632/8632]

--2020-09-27 05:52:18--  https://www.dropbox.com/s/xz2feavbubiu6dw/Iris.xlsx
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xz2feavbubiu6dw/Iris.xlsx [following]
--2020-09-27 05:52:18--  https://www.dropbox.com/s/raw/xz2feavbubiu6dw/Iris.xlsx
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com/cd/0/inline/BAJden3PgQHJ8HZ4mowJEL3Hdov1Zo-7o_bLiDweREsfsVXZuO5JL02DsztIiQOuVpR4ot9UEqIeE97vV_x6gOtVPiLuW4J4IKL5RjpfbmxTimyjUR4JFMac_scgz6Q5KXY/file# [following]
--2020-09-27 05:52:18--  https://uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com/cd/0/inline/BAJden3PgQHJ8HZ4mowJEL3Hdov1Zo-7o_bLiDweREsfsVXZuO5JL02DsztIiQOuVpR4ot9UEqIeE97vV_x6gOtVPiLuW4J4IKL5RjpfbmxTimyjUR4JFMac_scgz6Q5KXY/file
Resolving uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com (uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com (uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BAJnDcRx1KsSzk9910UfBt4dsRblN8Jc-xZNBBcPAkP6uRr10tFEzQZgYJCaUSHt4MAUu0zRLNGQEMsf6KCorPSYsHxkKoVXHwy0jYNzgtnwrJFYz--Rnhgcy0BPuP6fAb3O53Dh9FMnZNr5qbBToDje21iJ48tAjheu2ryiPw2muppIMTEYfjH1mW56E5lRj8Nm0Bl3DZ0pfQXOWmz2GsthHOxdojVY32ymfQgjvGhcj9n-_10rjKJx8qVLRtqgsgx32BuknR2PisZ6EZT8sMn5VnX3gxWtYrraYE8zVyZGZk_kk-6X6o03Lh7-bXvXB_y_w37YE6M05Q-JDOGoajVda7gMxU4cQHthzDzGXZ2Mfg/file [following]
--2020-09-27 05:52:19--  https://uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com/cd/0/inline2/BAJnDcRx1KsSzk9910UfBt4dsRblN8Jc-xZNBBcPAkP6uRr10tFEzQZgYJCaUSHt4MAUu0zRLNGQEMsf6KCorPSYsHxkKoVXHwy0jYNzgtnwrJFYz--Rnhgcy0BPuP6fAb3O53Dh9FMnZNr5qbBToDje21iJ48tAjheu2ryiPw2muppIMTEYfjH1mW56E5lRj8Nm0Bl3DZ0pfQXOWmz2GsthHOxdojVY32ymfQgjvGhcj9n-_10rjKJx8qVLRtqgsgx32BuknR2PisZ6EZT8sMn5VnX3gxWtYrraYE8zVyZGZk_kk-6X6o03Lh7-bXvXB_y_w37YE6M05Q-JDOGoajVda7gMxU4cQHthzDzGXZ2Mfg/file
Reusing existing connection to uc02399c94cc5f891f2ee53365a6.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 8725 (8.5K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Iris.xlsx’

Iris.xlsx           100%[===================>]   8.52K  --.-KB/s    in 0s

2020-09-27 05:52:19 (157 MB/s) - ‘Iris.xlsx’ saved [8725/8725]

In [ ]:
import pandas as pd
iris = pd.read_excel('Iris.xlsx')
iris_faltantes = pd.read_excel('Iris_faltantes.xlsx')

In [ ]:
iris_faltantes

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           NaN          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          NaN     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           NaN          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df_1 = pd.DataFrame({'a':[1,2], 'b':[3,4]})
df_1

   a  b
0  1  3
1  2  4

In [ ]:
df_2 = pd.DataFrame({'a':[5,6], 'b':[7,8]})
df_2

   a  b
0  5  7
1  6  8

In [ ]:
np.sum(np.abs(df_1.values - df_2.values))

16