<a href="https://colab.research.google.com/github/gtzambranop/UN_2020_2/blob/DCD/DCD/module_2_francisco/Clase_4_Python_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class tiempo(): # Nombre de la clase
    
    def __init__(self, hora=0, minuto=0, segundo=0):
        # Definición de paramétros internos de la clase
        
        self.hora = 0 if hora < 0 or hora > 23 else hora
        self.minuto = 0 if minuto < 0 or minuto > 59 else minuto
        self.segundo = 0 if segundo < 0 or segundo > 59 else segundo
        self.franja = None
        
        
    # Metodo que recibe los parametros hora, minuto y segunfo y los suma a mi clase tiempo actual
    def suma_hms(self, hora=0, minuto=0, segundo=0):
        self.segundo = self.segundo + segundo
        if self.segundo > 59: # Si segundo supera 60 se transforman 60 segundos a minuto
            self.segundo = self.segundo % 60
            self.minuto = self.minuto + 1
        self.minuto = self.minuto + minuto
        if self.minuto > 59: # Si segundo supera 60 se transforman 60 segundos a minuto
            self.minuto = self.minuto % 60
            self.hora = self.hora + 1
        self.hora = self.hora + hora # Si hora supera 24 quiere decir que ya pasó un día y se pasó al siguiente
        if self.hora > 23:
            self.hora = self.hora % 24
            
    # A pesar de no haber sido definido el atributo franja al inicio de la clase se puede crear posteriormente
    def set_franja_horaria(self):
        if self.hora < 12: 
            self.franja = 'mañana'
        elif self.hora >= 12 and self.hora <= 19:
            self.franja = 'tarde'
        else:
            self.franja = 'noche'
    
    # Un método de una clase puede invocar a otros métodos
    def suma_tiempo(self, t2):
        self.suma_hms(hora=t2.hora, minuto=t2.minuto, segundo=t2.segundo)
        
    # Uso de el operador + para hacer una suma de tiempos
    # Esto tiene un nombre en programación y es sobrecarga del operador +
    def __add__(self, t2):
        temp = tiempo(hora=self.hora, minuto=self.minuto, segundo=self.segundo)
        temp.suma_tiempo(t2)
        return temp
    
    # Método invocado al hacer uso de la función print de python          
    def __str__(self):
        hora_str = str(self.hora) if self.hora > 9 else '0' + str(self.hora)
        minuto_str = str(self.minuto) if self.minuto > 9 else '0' + str(self.minuto)
        segundo_str = str(self.segundo) if self.segundo > 9 else '0' + str(self.segundo)
        return '{}:{}:{}'.format(hora_str, minuto_str, segundo_str)

In [ ]:
class tiempo(): # Nombre de la clase
    
    def __init__(self, hora=0, minuto=0, segundo=0):
        # Definición de paramétros internos de la clase
        
        self.hora = 0 if hora < 0 or hora > 23 else hora
        self.minuto = 0 if minuto < 0 or minuto > 59 else minuto
        self.segundo = 0 if segundo < 0 or segundo > 59 else segundo
        self.set_franja_horaria()
     
    # Metodo que recibe los parametros hora, minuto y segunfo y los suma a mi clase tiempo actual
    def suma_hms(self, hora=0, minuto=0, segundo=0):
        self.segundo = self.segundo + segundo
        if self.segundo > 59: # Si segundo supera 60 se transforman 60 segundos a minuto
            self.segundo = self.segundo % 60
            self.minuto = self.minuto + 1
        self.minuto = self.minuto + minuto
        if self.minuto > 59: # Si segundo supera 60 se transforman 60 segundos a minuto
            self.minuto = self.minuto % 60
            self.hora = self.hora + 1
        self.hora = self.hora + hora # Si hora supera 24 quiere decir que ya pasó un día y se pasó al siguiente
        if self.hora > 23:
            self.hora = self.hora % 24
            
    # A pesar de no haber sido definido el atributo franja al inicio de la clase se puede crear posteriormente
    def set_franja_horaria(self):
        if self.hora < 12: 
            self.franja = 'mañana'
        elif self.hora >= 12 and self.hora < 19:
            self.franja = 'tarde'
        else:
            self.franja = 'noche'
    
    # Un método de una clase puede invocar a otros métodos
    def suma_tiempo(self, t2):
        self.suma_hms(hora=t2.hora, minuto=t2.minuto, segundo=t2.segundo)
        
    # Uso de el operador + para hacer una suma de tiempos
    # Esto tiene un nombre en programación y es sobrecarga del operador +
    def __add__(self, t2):
        temp = tiempo(hora=self.hora, minuto=self.minuto, segundo=self.segundo)
        temp.suma_tiempo(t2)
        return temp

    # Método invocado al hacer uso de la función print de python          
    def __str__(self):
        hora_str = str(self.hora) if self.hora > 9 else '0' + str(self.hora)
        minuto_str = str(self.minuto) if self.minuto > 9 else '0' + str(self.minuto)
        segundo_str = str(self.segundo) if self.segundo > 9 else '0' + str(self.segundo)
        return '{}:{}:{}'.format(hora_str, minuto_str, segundo_str)

In [ ]:
# Creación de una "instancia"
t1 = tiempo(hora=10, minuto=50, segundo=6)
#t1.hora
#t1.segundo

print(t1) 
#t1.suma_hms(hora=5, minuto=15, segundo=58)
#print(t1)

#t1.franja
#t1.set_franja_horaria()
#t1.franja

#t1 = tiempo(hora=10, minuto=50, segundo=6)
#t2 = tiempo(hora=6, minuto=12, segundo=15)
#print(t1)
#print(t2)
#t1.suma_tiempo(t2)
#print(t1)

#t2 = tiempo(hora=10, minuto=50, segundo=6)
#t3 = tiempo(hora=6, minuto=12, segundo=15)
#t4 = t2 + t3
#print(t2)
#print(t3)
#print(t4)

10:50:06

In [ ]:

#print(t1) 

#t1.suma_hms(hora=5, minuto=15, segundo=68)
#print(t1)

#t1.franja
#t1.set_franja_horaria()
#t1.franja

#t2 = tiempo(hora=10, minuto=50, segundo=6)
#t3 = tiempo(hora=6, minuto=12, segundo=15)
#print(t2)
#print(t3)
#t2.suma_tiempo(t3)
#print(t2)

#t2 = tiempo(hora=10, minuto=50, segundo=6)
#t3 = tiempo(hora=6, minuto=12, segundo=15)
#t4 = t2 + t3
#print(t4)

In [ ]:
add_segundo = 10
segundo = 55 

b = segundo + add_segundo

In [ ]:
b % 60

5

Duda quiz iterador ciccionario

In [ ]:
dc = {'a':1, 'b':2}
for k,v in dc.items():
  pass

In [ ]:
def imprimir_hola():
  print('hola')

In [ ]:
imprimir_hola()

hola

In [ ]:
import pandas as pd

In [ ]:
# Ejemplo

serie1 = pd.Series([1,2,3,4,5,6])
print(serie1)
#print(type(serie1))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
# Obtener valores
serie1.values

# Obtener índices
#serie1.index
list(serie1.index)

[0, 1, 2, 3, 4, 5]

In [ ]:
# Ejemplo de serie con index personalizados

serie1 = pd.Series([1,2,3,4,5,6], index=['a', 'b', 'c', 'd', 'e', 'f'])
print(serie1)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
# Ejemplo
import numpy as np
import string
index = list(string.ascii_letters)[:10]

serie1 = pd.Series(np.arange(10), index=index)
print(serie1)

# Broadcasting
serie2 = serie1 * 3
print(serie2)

serie3 = np.sqrt(serie1)
print(serie3)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
a     0
b     3
c     6
d     9
e    12
f    15
g    18
h    21
i    24
j    27
dtype: int64
a    0.000000
b    1.000000
c    1.414214
d    1.732051
e    2.000000
f    2.236068
g    2.449490
h    2.645751
i    2.828427
j    3.000000
dtype: float64

In [ ]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
# Indexado booleano
#serie1
#serie1 >= 5
#serie1[serie1 >= 5]

# Ejemplo con error
np.logical_and(serie1 >= 5, serie1 <= 7)
serie5 = serie1[np.logical_and(serie1 >= 5, serie1 <= 7)]
print(serie5)

f    5
g    6
h    7
dtype: int64

In [ ]:
True and True

True

In [ ]:
dc = {'Nombre': ['Francisco', 'Mario', 'Ana', 'Pedro', 'Marta'],
      'Edad': [37, 20, 45, 26, 42],
      'Género': ['M', 'M', 'F', 'M', 'F']}

df1 = pd.DataFrame(dc)
df1

      Nombre  Edad Género
0  Francisco    37      M
1      Mario    20      M
2        Ana    45      F
3      Pedro    26      M
4      Marta    42      F

In [ ]:
# Ejemplo
# Por columnas
#df1.columns

# Por filas
#df1.index

In [ ]:
# Ejemplo de acceso por columnas

#df1['Nombre'] # El retorno es una Serie

df1.Edad

0    37
1    20
2    45
3    26
4    42
Name: Edad, dtype: int64

In [ ]:
# Ejemplo de acceso por filas

#df1.loc[0] # El retorno es una Serie

print(df1)
# Diferencias entre loc e iloc
df2 = df1.copy()
df2.index = np.arange(10,15)
print(df2)

#df2.loc[0]
df2.iloc[0]

      Nombre  Edad Género
0  Francisco    37      M
1      Mario    20      M
2        Ana    45      F
3      Pedro    26      M
4      Marta    42      F
       Nombre  Edad Género
10  Francisco    37      M
11      Mario    20      M
12        Ana    45      F
13      Pedro    26      M
14      Marta    42      F

Nombre    Francisco
Edad             37
Género            M
Name: 10, dtype: object

In [ ]:
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

--2020-09-27 05:49:20--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4551 (4.4K) [application/x-httpd-php]
Saving to: ‘iris.data’

iris.data           100%[===================>]   4.44K  --.-KB/s    in 0s

2020-09-27 05:49:20 (79.2 MB/s) - ‘iris.data’ saved [4551/4551]

In [ ]:
! head -n 5 iris.data

5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa

In [ ]:
iris = pd.read_csv('iris.data', header=None)
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
import numpy as np

n = 1e7
array = np.random.rand(int(n)) * 360
#array>

In [ ]:
from datetime import datetime as dt


def sin_array(array):
    ret = np.empty(len(array))
    for index, x in enumerate(array):
        ret[index] = np.sin(x * 2 * np.pi / 360)
    return ret


start = dt.now()

sin_array(array)

print(dt.now() - start)

0:00:24.784450

In [ ]:
import numba

@numba.jit
def sin_array2(array):
    ret = np.empty(len(array))
    for index, x in enumerate(array):
        ret[index] = np.sin(x * 2 * np.pi / 360)
    return ret

start = dt.now()

sin_array2(array)

print(dt.now() - start)

0:00:00.682155

In [ ]:
[('x_sup_izq', 'y_sup_izq'),('x_inf_der', 'y_inf_der')]

[('x_sup_izq', 'y_sup_izq'), ('x_inf_der', 'y_inf_der')]