<a href="https://colab.research.google.com/github/gtzambranop/UN_2020_2/blob/DCD%2Fweek_4/DCD/module_2_francisco/Clase_3_Python_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
0,1,1,2,3,5,8,13

(0, 1, 1, 2, 3, 5, 8, 13)

In [ ]:
limite_superior = 15

# Se definen los a en cero y b como el primer valor de la secuencia de Fibonacci
a, b = 0, 1

while b < limite_superior: # b < limite suerior define cual es el punto a partir del cual no se imprimiran valores
    print(b),
    b, a = a + b, b # Nota: estoy asignando dos variables al mismo tiempo
    #b = a + b
    #a = b

1
1
2
3
5
8
13

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# Se ejecuta el ciclo 5 veces
for i in range(5):    
    print(i * i)
#    print(i)

0
1
4
9
16

In [ ]:
nombres = ['Mario', 'Mariana', 'Gustavo', 'Francisco']

for nombre in nombres: # Accede directamente al valor no mediante un indice
    print('El nombre {} tiene {} caracteres'.format(nombre, len(nombre)))

El nombre Mario tiene 5 caracteres
El nombre Mariana tiene 7 caracteres
El nombre Gustavo tiene 7 caracteres
El nombre Francisco tiene 9 caracteres

In [ ]:
frase = 'Somos lo que hacemos de forma repetida. La excelencia, entonces, no es un acto, sino un hábito. Aristóteles'
lista_palabras = frase.split(' ') # Transforma una cadena en una lista de cadenas
#lista_palabras
longitud = len(lista_palabras) 

for i in range(longitud): # Se itera basado en índice no en el valor
    print('La palabra "{}" se encuentra como {}-esima palabra la frase'.format(lista_palabras[i], i+1))

La palabra "Somos" se encuentra como 1-esima palabra la frase
La palabra "lo" se encuentra como 2-esima palabra la frase
La palabra "que" se encuentra como 3-esima palabra la frase
La palabra "hacemos" se encuentra como 4-esima palabra la frase
La palabra "de" se encuentra como 5-esima palabra la frase
La palabra "forma" se encuentra como 6-esima palabra la frase
La palabra "repetida." se encuentra como 7-esima palabra la frase
La palabra "La" se encuentra como 8-esima palabra la frase
La palabra "excelencia," se encuentra como 9-esima palabra la frase
La palabra "entonces," se encuentra como 10-esima palabra la frase
La palabra "no" se encuentra como 11-esima palabra la frase
La palabra "es" se encuentra como 12-esima palabra la frase
La palabra "un" se encuentra como 13-esima palabra la frase
La palabra "acto," se encuentra como 14-esima palabra la frase
La palabra "sino" se encuentra como 15-esima palabra la frase
La palabra "un" se encuentra como 16-esima palabra la frase
La palabra "hábito." se encuentra como 17-esima palabra la frase
La palabra "Aristóteles" se encuentra como 18-esima palabra la frase

In [ ]:
frase = 'Somos lo que hacemos de forma repetida. La excelencia, entonces, no es un acto, sino un hábito. Aristóteles'
lista_palabras = frase.split(' ')
# enumerate construye una lista de tuplas, donde la pripera parte de la tupla
# es el indice y la segunda el valor
for i, palabra in enumerate(lista_palabras): 
    print('La palabra "{}" se encuentra en la posición {} en la frase'.format(palabra, i + 1))

La palabra "Somos" se encuentra en la posición 1 en la frase
La palabra "lo" se encuentra en la posición 2 en la frase
La palabra "que" se encuentra en la posición 3 en la frase
La palabra "hacemos" se encuentra en la posición 4 en la frase
La palabra "de" se encuentra en la posición 5 en la frase
La palabra "forma" se encuentra en la posición 6 en la frase
La palabra "repetida." se encuentra en la posición 7 en la frase
La palabra "La" se encuentra en la posición 8 en la frase
La palabra "excelencia," se encuentra en la posición 9 en la frase
La palabra "entonces," se encuentra en la posición 10 en la frase
La palabra "no" se encuentra en la posición 11 en la frase
La palabra "es" se encuentra en la posición 12 en la frase
La palabra "un" se encuentra en la posición 13 en la frase
La palabra "acto," se encuentra en la posición 14 en la frase
La palabra "sino" se encuentra en la posición 15 en la frase
La palabra "un" se encuentra en la posición 16 en la frase
La palabra "hábito." se encuentra en la posición 17 en la frase
La palabra "Aristóteles" se encuentra en la posición 18 en la frase

In [ ]:
var = [(1,'a'), (2,'b'), (3,'c')]
for i, palabra in var:
  print('{},{}'.format(i,palabra))

1,a
2,b
3,c

For anidados

In [ ]:
for i in [[1,2],[2,4],[5,6]]:
  print('-'*20)
  print(i)
  for j in i:
    print(j)

--------------------
[1, 2]
1
2
--------------------
[2, 4]
2
4
--------------------
[5, 6]
5
6

In [ ]:
dic = {'Nombre': 'Francisco', 'Apellido': 'Ospina', 'Edad': 37, 'Genero': 'Masculino', 'Profesion': 'Data Scientist', 'Nacionalidad': 'Colombiana'}

# Iterar Llaves
for key in dic.keys():
    print(key)

Nombre
Apellido
Edad
Genero
Profesion
Nacionalidad

In [ ]:
# Iterar valores
for value in dic.values():
    print(value)

Francisco
Ospina
37
Masculino
Data Scientist
Colombiana

In [ ]:
# La función items() retorna una lista de tuplas donde el primer valor de la tupla es la llave
# y el segundo valor de la tupla el valor
for key, value in dic.items(): 
    print('La llave es "{}" y el valor es "{}"'.format(key, value))

La llave es "Nombre" y el valor es "Francisco"
La llave es "Apellido" y el valor es "Ospina"
La llave es "Edad" y el valor es "37"
La llave es "Genero" y el valor es "Masculino"
La llave es "Profesion" y el valor es "Data Scientist"
La llave es "Nacionalidad" y el valor es "Colombiana"

In [ ]:
# Ejemplo lista normal

numeros = range(1, 11)
cuadrados = list() # Define lista nula para ser llenada en el for
for i in numeros:
    cuadrados.append(i ** 2) # Añade a la lista cuadrados el cuadrado de valor del bucle for
    
print(list(numeros))
print(cuadrados)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Mismo ejemplo pero con lista por comprensión

numeros = range(1, 11)
cuadrados = [x ** 2 for x in numeros]

print(list(numeros))
print(cuadrados)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Ejemplo lista por comprensión

numeros = range(1, 11)
pares = [x for x in numeros if x % 2 == 0] # Lista por comprensión con if

print(list(numeros))
print(pares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [ ]:
base = [1, 2, 6, 4, 7]
exponente = [2, 1, 3, 4, 8]

potencia = [x ** y for x,y in zip(base, exponente)]

print(potencia)

[1, 2, 216, 256, 5764801]

In [ ]:
# Ejemplo de definición función

def imprimir_hola(): # Una función tiene un nombre
    print('hola') # Todo lo que dentro de la identación es código que la función ejecuta

In [ ]:
# El llamado a una función se realiza con su nombre seguido de parentesis, si la función recibe parámetros
# estos deben ir entre los parentesis.
imprimir_hola()

hola

In [ ]:
# Ejemplo de función
from datetime import datetime as dt

def concatena_textos(param1, param2): # Definición nombre y parámetros de entrada
    
    now = dt.now() # Creación de variables internas dentro de la función
    print('La función se ejecutó a las {}'.format(now)) # Sentencias que cumplen algún proposito
    
    retorno_concat = param1 + ' ' + param2 # retorno de la función
    
    return retorno_concat

In [ ]:
retorno_funcion = concatena_textos('Hola', 'Mundo')

La función se ejecutó a las 2020-09-19 03:45:34.656810

In [ ]:
retorno_funcion

'Hola Mundo'

In [ ]:
def menor(a,b):
  if a < b:
    return a
  else:
    return b

In [ ]:
num_menor = menor(7,5)

In [ ]:
'el numero menor es: {}'.format(num_menor)

'el numero menor es: 5'

In [ ]:
def menor(a,b):
  if a < b:
    print(a)
  else:
    print(b)

num_menor is None

False

In [ ]:
# Ejemplo de función
from datetime import datetime as dt

a = 20
#print(a)

def concatena_textos(param1, param2): # Definición nombre y parámetros de entrada
    
    now = dt.now() # Creación de variables internas dentro de la función
    print('La función se ejecutó a las {}'.format(now)) # Sentencias que cumplen algún proposito
    #print(a)
    
    retorno_concat = param1 + ' ' + param2 # retorno de la funcióm
    
    return retorno_concat

resultado = concatena_textos('Hola', 'Mundo')
#print(now) # Error ya que la variable now vive solo dentro de la función

La función se ejecutó a las 2020-09-19 03:45:34.722022

In [ ]:
a = 20
print(a)

def concatena_textos(param1, param2): # Definición nombre y parámetros de entrada
    
    now = dt.now() # Creación de variables internas dentro de la función
    print('La función se ejecutó a las {}'.format(now)) # Sentencias que cumplen algún proposito
    #a = 7
    print(a * 5)
     
    retorno_concat = param1 + ' ' + param2 # retorno de la funcióm
    
    return a

concatena_textos('Hola', 'Mundo')
print(a)

20
La función se ejecutó a las 2020-09-19 03:45:34.737528
100
20

In [ ]:
a = '7'
concatena_textos('Hola', 'Mundo')

La función se ejecutó a las 2020-09-19 03:45:34.749080
77777

'7'

## Docstrings

In [ ]:
# Ejemplo de función
from datetime import datetime as dt

def concatena_textos2(param1, param2): # Definición nombre y parámetros de entrada
    '''
    imprime_parametros(string, string)
    
    Concatena dos textos separados por un espacio.
    
    Parámetros
    ----------
    param1 : string
    
    param2 : string
    
    Retorno
    ----------
    out : String
        Cadena resultante de concatenar las dos cadenas 
        entrantes añadiendo un espacio en blanco en el medio

    Ejemplos
    --------
    [in] imprime_parametros('Francisco', 'Ospina')
    [out] 'Francisco Ospina'
    '''
    
    now = dt.now() # Creación de variables internas dentro de la función
    print('La función se ejecutó a las {}'.format(now)) # Sentencias que cumplen algún proposito
    
    retorno_concat = param1 + ' ' + param2 # retorno de la funcióm
    
    return retorno_concat

In [ ]:
# Celda para mirar el docstring
# concatena_textos2()

In [ ]:
def multiple_impresion(texto, repeticiones=2):
    for i in range(repeticiones): # Bucle para imprimier multiples veces el mismo texto
        print(texto)

In [ ]:
multiple_impresion('Hola', 5)

Hola
Hola
Hola
Hola
Hola

In [ ]:
#multiple_impresion('Hola')
#multiple_impresion('Hola', 2)
#multiple_impresion(texto='Hola', repeticiones=2)
#multiple_impresion('Hola', repeticiones=2)
#multiple_impresion(repeticiones=2, 'Hola')
#multiple_impresion(repeticiones=2, texto='Hola')

In [ ]:
def retorna_menor_mayor(a, b):
    if a < b:
        return a, b # A pesar de no tener parentesis se está retornando es una tupla
    else :
        return b, a

menor, mayor = retorna_menor_mayor(5,7)
print(menor)
print(mayor)

5
7

In [ ]:
retorna_menor_mayor(7,5)

(5, 7)

In [ ]:
menor, mayor = (5,7)

Escriba una función que reciba una cadena de carácteres y retorne un diccionario donde las llaves del diccionario sean cada uno de los caracteres de la cadena y el valor del diccionario sean la cantidad de veces que se repite ese caracter.

In [ ]:
def conteo_caracteres(cadena):
  dc_conteos = {}
  for caracter in cadena:
    if caracter in dc_conteos.keys():
      dc_conteos[caracter] = dc_conteos[caracter] + 1
    else:
      dc_conteos[caracter] = 1
  return dc_conteos

In [ ]:
cadena = 'Este es el curso de python basico'
conteo_caracteres(cadena)

{' ': 6,
 'E': 1,
 'a': 1,
 'b': 1,
 'c': 2,
 'd': 1,
 'e': 4,
 'h': 1,
 'i': 1,
 'l': 1,
 'n': 1,
 'o': 3,
 'p': 1,
 'r': 1,
 's': 4,
 't': 2,
 'u': 1,
 'y': 1}

In [ ]:
dc = {}

In [ ]:
dc['E'] = 1

In [ ]:
dc

{'E': 1}

In [ ]:
cadena = 'Hola mundo'

In [ ]:
cadena[::-1]

'odnum aloH'

In [ ]:
a = [1,2,3,45,8,7,6,4,2]

In [ ]:
a.sort()
a

[1, 2, 2, 3, 4, 6, 7, 8, 45]