<a href="https://colab.research.google.com/github/gtzambranop/UN_2020_2/blob/DCD/DCD/module_2_francisco/Taller_4_Python_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Taller 

- Cargue los conjuntos de datos de movies y ratings.
- Cree el DataFrame df_merged como el join de las dos tablas previamente cargadas.
- ¿Cuál es la película que tiene más votos?.
- ¿Cuál es la película que tiene menos votos?.
- ¿Cuál es la película que tiene mejor calificación promedio votos?.
- ¿Cuál es la película que tiene peor calificación promedio votos?.
- ¿Cuál es el usuario que más peliculas calificó?
- ¿Cuál es o son las peliculas mejor vcalificada por el usuario con userId == 599 ?

In [14]:
# Carga de kibrerías que se usarán
import pandas as pd

In [15]:
! wget https://www.dropbox.com/s/z4zoofdgdrxe01r/movies.csv
! wget https://www.dropbox.com/s/f328xczt6vju6hi/ratings.csv

--2020-09-29 01:22:50--  https://www.dropbox.com/s/z4zoofdgdrxe01r/movies.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601d:1::a27d:501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/z4zoofdgdrxe01r/movies.csv [following]
--2020-09-29 01:22:50--  https://www.dropbox.com/s/raw/z4zoofdgdrxe01r/movies.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc12de5299f19e6e2383e814bcfa.dl.dropboxusercontent.com/cd/0/inline/BASux3TcW95laRsOt7RtB3hpOHdojEbAq8S6phoUaCsZNEjbB0a3K1KHhemhvKbjh3y_1h-sRoopzuvEvAtCWB-RM73i5vLKUP80P1qD1rN58xkxjn8bDTTYCc_PM4oOh4E/file# [following]
--2020-09-29 01:22:51--  https://uc12de5299f19e6e2383e814bcfa.dl.dropboxusercontent.com/cd/0/inline/BASux3TcW95laRsOt7RtB3hpOHdojEbAq8S6phoUaCsZNEjbB0a3K1KHhemhvKbjh3y_1h-sRoopzuvEvAtCWB-RM73i5vLKUP80P1qD1rN58xkxjn8bDTTYCc_PM4oOh4E/file
Resolving uc12de5299f19e6e2383e814bcfa.dl.dropboxusercontent.com (uc12de5299f19e6e2383e814bcfa.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601f:15::a27d:90f
Connecting to uc12de5299f19e6e2383e814bcfa.dl.dropboxusercontent.com (uc12de5299f19e6e2383e814bcfa.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 494431 (483K) [text/plain]
Saving to: ‘movies.csv.1’

movies.csv.1        100%[===================>] 482.84K  --.-KB/s    in 0.08s

2020-09-29 01:22:51 (5.73 MB/s) - ‘movies.csv.1’ saved [494431/494431]

--2020-09-29 01:22:51--  https://www.dropbox.com/s/f328xczt6vju6hi/ratings.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601d:1::a27d:501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/f328xczt6vju6hi/ratings.csv [following]
--2020-09-29 01:22:51--  https://www.dropbox.com/s/raw/f328xczt6vju6hi/ratings.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf7badf0baf30bdf76af804a208.dl.dropboxusercontent.com/cd/0/inline/BASqeew9MjbTbKbEXVnSoiGZMWdl5iuMWOI6Gv7qiiYwP3Uho8kUKHLMzvEgfmnPCaGMst3Y3VXAYN3i5zQUZ_fegXWu5hCo6-MujHNqi4wqUo9cZz1jYoRzc6NZtPFRtXQ/file# [following]
--2020-09-29 01:22:52--  https://ucf7badf0baf30bdf76af804a208.dl.dropboxusercontent.com/cd/0/inline/BASqeew9MjbTbKbEXVnSoiGZMWdl5iuMWOI6Gv7qiiYwP3Uho8kUKHLMzvEgfmnPCaGMst3Y3VXAYN3i5zQUZ_fegXWu5hCo6-MujHNqi4wqUo9cZz1jYoRzc6NZtPFRtXQ/file
Resolving ucf7badf0baf30bdf76af804a208.dl.dropboxusercontent.com (ucf7badf0baf30bdf76af804a208.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601d:15::a27d:50f
Connecting to ucf7badf0baf30bdf76af804a208.dl.dropboxusercontent.com (ucf7badf0baf30bdf76af804a208.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2483723 (2.4M) [text/plain]
Saving to: ‘ratings.csv.1’

ratings.csv.1       100%[===================>]   2.37M  --.-KB/s    in 0.1s

2020-09-29 01:22:52 (19.2 MB/s) - ‘ratings.csv.1’ saved [2483723/2483723]

In [16]:
# Carga de datos
df_movies = pd.read_csv('movies.csv')
df_ratings = pd.read_csv('ratings.csv')

In [17]:
# inspección de tabla movies
df_movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [18]:
# inspección de tabla ratings
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
# Join de ambas tablas
df_merged = pd.merge(df_ratings, df_movies)

# Ordeamiento innecesario pero me gusta mas ver el dataset así
df_merged  = df_merged.sort_values(by=['userId', 'movieId'])

df_merged.head()

     userId  ...                                       genres
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
215       1  ...                               Comedy|Romance
267       1  ...                        Action|Crime|Thriller
369       1  ...                             Mystery|Thriller
572       1  ...                       Crime|Mystery|Thriller

[5 rows x 6 columns]

### ¿Cuál es la película que tiene más votos?.

In [20]:
# Generamos conteos de usuarios que califican por película
count_users_by_movie = df_merged.groupby('title').count()['userId']

# Usamos un indexado booleano para ver cuál es la película más votada
count_users_by_movie[count_users_by_movie == count_users_by_movie.max()]

# NOTA IMPORTANTE
# count_users_by_movie.max() # retorna el número pero no el indice
# count_users_by_movie.max()

title
Forrest Gump (1994)    329
Name: userId, dtype: int64

In [21]:
# Con el siguiente método obtenemos el índice del máximo pero no su valor
count_users_by_movie.idxmax()

'Forrest Gump (1994)'

In [22]:
# Hacemos uso de la variable count_users_by_movie creada en la celda anterior
# Usamos un indexado booleano para ver cuál es la película más votada
count_users_by_movie[count_users_by_movie == count_users_by_movie.min()]

# NOTA IMPORTANTE
# count_users_by_movie.min() # retorna el número pero no el indice
# count_users_by_movie.min()

title
'71 (2014)                                                1
'Hellboy': The Seeds of Creation (2004)                   1
'Salem's Lot (2004)                                       1
'Tis the Season for Love (2015)                           1
'night Mother (1986)                                      1
                                                         ..
Zoom (2006)                                               1
Zoom (2015)                                               1
Zulu (2013)                                               1
anohana: The Flower We Saw That Day - The Movie (2013)    1
À nous la liberté (Freedom for Us) (1931)                 1
Name: userId, Length: 3441, dtype: int64

### ¿Cuál es la película que tiene mejor calificación promedio?

In [23]:
# Se calcula la calificación promedio por película
average_rating_by_movie = df_merged.groupby('title').mean()['rating']

# Se extrae la calificación promedio máxima
average_rating_by_movie[average_rating_by_movie == average_rating_by_movie.max()]

title
'Salem's Lot (2004)                 5.0
12 Angry Men (1997)                 5.0
12 Chairs (1976)                    5.0
20 Million Miles to Earth (1957)    5.0
61* (2001)                          5.0
                                   ...
Won't You Be My Neighbor? (2018)    5.0
Wonder Woman (2009)                 5.0
World of Glory (1991)               5.0
Wow! A Talking Fish! (1983)         5.0
Zeitgeist: Moving Forward (2011)    5.0
Name: rating, Length: 296, dtype: float64

### ¿Cuál es la película que tiene peor calificación promedio?

---

In [24]:
# Se calcula la calificación promedio por película
average_rating_by_movie = df_merged.groupby('title').mean()['rating']

# Se extrae la calificación promedio máxima
average_rating_by_movie[average_rating_by_movie == average_rating_by_movie.min()]

title
3 Ninjas Knuckle Up (1995)               0.5
3 dev adam (Three Giant Men) (1973)      0.5
Aloha (2015)                             0.5
Alone in the Dark (2005)                 0.5
Amer (2009)                              0.5
                                        ...
Wasp Woman, The (1959)                   0.5
While the City Sleeps (1956)             0.5
Wizards of the Lost Kingdom II (1989)    0.5
Yongary: Monster from the Deep (1967)    0.5
Zombie Strippers! (2008)                 0.5
Name: rating, Length: 96, dtype: float64

### ¿Cuál es el usuario que más peliculas calificó?

In [25]:
# Se calcula la calificación promedio por película
counts_rating_by_user = df_merged.groupby('userId').count()['rating']

# Se extrae la calificación promedio máxima
counts_rating_by_user[counts_rating_by_user == counts_rating_by_user.max()]

userId
414    2698
Name: rating, dtype: int64

### ¿Cuál es o son las peliculas mejor vcalificada por el usuario con userId == 599 ?

In [26]:
# Se obtiene un sub dataframe solo con la información del usuario 599
sub_df_599 = df_merged[df_merged['userId'] == 599]

# Se obtiene un sub dataframe con las peliculas mejor calificadas por dicho
sub_df_599[sub_df_599['rating'] == sub_df_599['rating'].max()]

       userId  ...                             genres
28564     599  ...      Action|Adventure|Comedy|Crime
1810      599  ...            Action|Adventure|Sci-Fi
30609     599  ...        Action|Crime|Drama|Thriller
2115      599  ...        Comedy|Crime|Drama|Thriller
69939     599  ...                   Animation|Sci-Fi
33854     599  ...                         Comedy|War
33962     599  ...             Adventure|Drama|Sci-Fi
80300     599  ...                     Comedy|Romance
6342      599  ...             Crime|Mystery|Thriller
88210     599  ...                          Drama|War
6981      599  ...            Action|Adventure|Sci-Fi
45669     599  ...     Action|Adventure|Horror|Sci-Fi
7552      599  ...                   Action|Drama|War
7745      599  ...            Action|Adventure|Sci-Fi
8018      599  ...                      Horror|Sci-Fi
70161     599  ...  Action|Adventure|Animation|Sci-Fi
21580     599  ...                      Drama|Western
10288     599  ...                       Comedy|Crime
10517     599  ...          Adventure|Fantasy|Musical
12180     599  ...                       Comedy|Drama
12279     599  ...                   Action|Drama|War
12912     599  ...             Action|Sci-Fi|Thriller
14046     599  ...                      Drama|Romance
14534     599  ...        Action|Crime|Drama|Thriller
70378     599  ...                   Action|Adventure
23548     599  ...                              Drama
50940     599  ...              Crime|Drama|Film-Noir
16022     599  ...   Action|Adventure|Sci-Fi|Thriller
18796     599  ...                              Drama
49966     599  ...                     Comedy|Romance
69212     599  ...               Comedy|Drama|Romance
16880     599  ...              Action|Crime|Thriller

[32 rows x 6 columns]